.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: url(../public/istockphoto-515801588-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  padding: 0;
  margin: 0;
}
